---
layout: default
---
<!-- content start -->
<div class="span8">
  <div class="row-fluid">
    <div class="span12">
      <h2>{{ page.title }}</h2>
	  <p class="text-left">{{ page.date | date: "%d %B %Y" }}</p>
	  {% if page.tags %}
	  <i class="icon-tags"></i>
	  {% endif %}
	  {% for tag in page.tags %}
	  <span class="label label-info">{{ tag, '' }}</span>
	  {% endfor %}
      <p>{{ content }}</p>
	  <br>
	  <blockquote>
        <p>&copy; 原创文章，转载请注明来自<a href="/">Flysoloing</a>[http://flysoloing.github.io]</p>
        <small>本文地址：<cite title="{{ page.title }}">http://flysoloing.github.io{{ page.url }}</cite></small>
      </blockquote>
    </div>
  </div>
</div>
<!-- content end -->